body{

margin:0;

padding:0;

background: linear-gradient(
to right,
#0f172a,
#1e293b,
#0f172a
);

color:white;

font-family:Arial;

text-align:center;

min-height:100vh;

}

img{

border-radius:20px;

box-shadow:0 4px 15px gray;

}

button{

padding:10px;

margin:5px;

border:none;

border-radius:10px;

background:#2563eb;

color:white;

}

input{

padding:10px;

width:250px;

border-radius:10px;

}

select{

padding:10px;

border-radius:10px;

}